SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_PROJECT_ID
PRIVATE_KEY=0xreplace_with_funded_test_account_private_key
ETHERSCAN_API_KEY=YOUR_ETHERSCAN_KEY

PROVIDER_A_PRIVATE_KEY=0xCLAVE_PRIVADA_ACCOUNT_2
PROVIDER_B_PRIVATE_KEY=0xCLAVE_PRIVADA_ACCOUNT_3
PROVIDER_C_PRIVATE_KEY=0xCLAVE_PRIVADA_ACCOUNT_4

AUCTION_ADDRESS=